
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Alexandria', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f7f9fc;
}