$utilities: map-merge(
                $utilities, (
                "width": map-merge(
                                map-get($utilities, "width"),
                                ( responsive: true ),
                ),
        )
);